<div class="container" style="background-color: #FECD70;">
    <h3>Add New Item</h3>
    <form [formGroup]="registrationForm" (ngSubmit)="register()"  style="border: 5px solid blue; padding: 40px;">
        <div class="form-group">
            <label for="name">Enter name</label>
            <input type="text" class="form-control" id="name" name="name" formControlName="name"
                placeholder="Enter the Item Name">
            <span *ngIf="name?.invalid && name?.touched" style="color: red;">Please enter valid name</span>
        </div>

        <div class="form-group">
            <label for="description">Enter Description</label>
            <input type="text" class="form-control" id="description" name="description" formControlName="description"
                placeholder="Enter the description">
            <span *ngIf="description?.invalid && description?.touched" style="color: red;">Please enter valid description</span>
        </div>

        <div class="form-group">
            <label for="price">Enter price</label>
            <input type="number" class="form-control" id="price" name="price" formControlName="price"
                placeholder="Enter the price">
            <span *ngIf="price?.invalid && price?.touched" style="color: red;">Please enter valid price</span>
        </div>

        <div class="form-group">
            <label for="type">Enter type</label>
            <input type="text" class="form-control" id="type" name="type" formControlName="type"
                placeholder="Enter the type">
            <span *ngIf="type?.invalid && type?.touched" style="color: red;">Please enter valid type</span>
        </div>

        <div class="form-group">
            <label for="imageURL">Enter Image URL</label>
            <input type="text" class="form-control" id="imageURL" name="imageURL" formControlName="imageURL"
                placeholder="Enter the image URL">
            <span *ngIf="imageURL?.invalid && imageURL?.touched" style="color: red;">Please enter valid image URL</span>
        </div>

        <div class="form-group">
            <label for="menuId">Enter Menu Id</label>
            <input type="number" class="form-control" id="menuId" name="menuId" formControlName="menuId"
                placeholder="Enter the menu id">
            <span *ngIf="menuId?.invalid && menuId?.touched" style="color: red;">Please enter valid menu id</span>
        </div>
        <button type="submit" class="btn btn-primary">Add Item</button>
    </form>
</div>